<!-- Services Section -->
<section id="servicios">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Servicios</h2>
                <h3 class="section-subheading text-muted">Conoce nuestro portafolio</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                    <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                    <img class="img-circle" src="img/services/2.jpg" alt="" style="width: 150px" />
                </span>
                <h4 class="service-heading">Prácticas libres y cursos</h4>
                <p class="text-muted"></p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                    <!-- <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
                    <img class="img-circle" src="img/services/1.jpg" alt="" style="width: 150px" />
                </span>
                <h4 class="service-heading">Entrenamiento niños sin costo</h4>
                <p class="text-muted"></p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                    <!-- <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    <img class="img-circle" src="img/services/3.jpg" alt="" style="width: 150px" />
                </span>
                <h4 class="service-heading">Eventos</h4>
                <p class="text-muted"></p>
            </div>
        </div>
    </div>
</section>